.concac{

    color: rgb(255, 250, 250)  ;
    font-family: Georgia;
    text-transform: capitalize;
    
}

.detail{
    font-size: 15px;
    color: rgb(255, 250, 250)  ;
    font-family: cursive;
    text-transform: uppercase;
}
.tieude{
    font-size: 75px;
    color: rgb(177, 95, 8)  ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.tieude2{

    color: rgb(177, 95, 8)  ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.tieudedetail{
    font-size: 60px;
    color: rgb(177, 95, 8)  ;
    font-family: Georgia;
    text-transform: uppercase;
}

body {
    background: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}